{{#if addNewQuestion}}
  <h2>Add a Question</h2>
    <form>
      <div class="form-group">
        {{input value=author id="author" placeholder="Name" required="required"}}
      </div>

      <div class="form-group">
        {{input value=pregunta id="pregunta" placeholder="Question" required="required"}}
      </div>

      <div class="form-group">
        {{input value=notes id="notes" placeholder="Details"}}
      </div>

      <button {{action 'save'}}>Save</button>
    </form>
 {{else}}
    <button {{action 'questionFormShow'}}>Add Question</button>
{{/if}}
