{{#if addNewAnswer}}
  <h2>Add a Answer</h2>
    <form>
      <div class="form-group">
        {{input value=author id="author" placeholder="Name" required="required"}}
      </div>

      <div class="form-group">
        {{input value=respuesta id="respuesta" placeholder="Answer" required="required"}}
      </div>

      <!-- <div class="form-group">
        {{input value=question.pregunta id="pregunta" }}
      </div> -->

      <button {{action 'saveAnswer'}}>Save</button>
    </form>
 {{else}}
    <button {{action 'answerFormShow'}}>Add Answer</button>
{{/if}}
