<li>Author: {{question.author}}</li>
<li>{{#link-to 'question' question.id}}Question: {{question.pregunta}}{{/link-to}}</li>
  {{#if areNotesShowing}}
    <li {{action 'notesHide'}} >Additional Notes: {{question.notes}}</li>
  {{else}}
    <button {{action 'notesShow'}}>More info</button>
  {{/if}}
<hr>
