<p>{{question.author}} asked: </p>
<h2>{{question.pregunta}}</h2>

{{question-detail question=question}}

{{update-question question=question update="update"}}

{{new-answer question=question saveAnswer="saveAnswer"}}

{{answer-tile question=question answers=answers}}

{{myanswers-tile}}
